<?php
class Database{

	// specify your own database credentials
	private $host = /** THE HOST ADDRESS OR IP */;
	private $db_name = /** THE DATABASE NAME */;
	private $username = /** THE DATABASE USERNAME */;
	private $password = /** THE DATABASE PASSWORD */;
	private $conn;

	// get the database connection
	public function getConnection(){

		$this->conn = null;

		try{
			$this->conn = new PDO("mysql:host=" . $this->host . ";dbname=" . $this->db_name, $this->username, $this->password);
			$this->conn->exec("set names utf8");
		}catch(PDOException $exception){
			echo "Connection error: " . $exception->getMessage();
		}

		return $this->conn;
	}
}
?>
